/* Write your CSS code here */
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-right: 10vw;
}
.li {
  list-style: none;
}
.link {
  text-decoration: none;
}
